[include]
    path = ~/secrets/.git_secrets

[core]
	excludesfile = ~/.gitignore
  pager = delta

[alias]
	visual = !gitk
	plog = log --pretty --graph --oneline
	co = checkout
	br = branch
	st = status
	ci = commit
	wt = worktree
	alias = config --get-regexp ^alias\\.
	conflicted = !vim +Conflicted

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[pull]
	rebase = false

[commit]
	gpgsign = true

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[rerere]
	enabled = true
