[include]
    path = ~/.git_info
    path = ~/.git_secrets
[core]
	excludesfile = ~/.gitignore
[alias]
	visual = !gitk
	plog = log --pretty --graph --oneline
	co = checkout
	br = branch
	st = status
	ci = commit
	wt = worktree
	alias = config --get-regexp ^alias\\.
	conflicted = !vim +Conflicted
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[commit]
	gpgsign = true
