[include]
    path = ~/.git_info
[core]
	excludesfile = ~/.gitignore
[alias]
	visual = !gitk
	plog = log --pretty --graph --oneline
	co = checkout
	br = branch
	st = status
	ci = commit
	alias = config --get-regexp ^alias\\.
[user]
	email = francis.lagadia@chromeriver.com
	name = Francis Lagadia
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
